

.cart-sm-bottom{
  .pb-10{
  @include phone-size{
  padding-bottom:0 !important;
  }  
  }
  
}

.cart{
@include phone-size{
 padding-right: 0;
 padding-left:0;

}

.cart-row{
  @include phone-size{
 flex-direction: column;
  }
}

.cart-list{
@include phone-size{
 margin-right: 0 !important;
 margin-left:0 !important;
 margin-top: 0px !important;   

 .col-lg-8 {
     @include phone-size{
        padding-right: 0;
        padding-left:0;  
     }
 }
}
}
.cart-img{
  width: 110px;
  height: 110px;
  @include phone-size{
    width: 157px;
    height: 106px;
    
  }
}
.display-none{
  @include phone-size{
   display: none; 
  } 
}
}

.cart-text{
@include phone-size{
  padding-left: 0;
} 
}

.cart-price{
  @include phone-size{
    padding-right: 45px;
    padding-top:8px;
    margin-top:10px;
    margin-bottom:-20px;
    border-top:1px solid $second;
  }
}

.cart-padding-sm-left{
  @include phone-size{
 padding-left:0 !important;
  }
 
  }
  .cart-padding-sm-right{
    @include phone-size{
    padding-right:0; 
    }
    }
.cart-sm-border{
  padding:0 30px 0 30px;
}

.cart-order{
  @include phone-size{
    background-color:#fff !important;
 
  }  
  
}
.cart-title{
@include phone-size{
  background:$second;
  border: 0px;
  margin:30px 15px 0 15px;
}
 
}

.cart-form-sm-text{
  @include phone-size{
    color: $primary !important;
  }
}  
  